@font-face {
  font-family: "holbie_font";
  src: url("fonts/SourceSansPro-light.otf");
}

:root {
  --smile-purple: #c271ff;
}

body {
  font-family: holbie_font;
}

.hero {
  background-image: url("./images/pic_1.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vmin; */
}

h1 {
  font-size: 65px;
}

.btn {
  border-color: var(--smile-purple);
  background-color: var(--smile-purple);
}

.btn:hover,
.btn:active,
.btn:checked {
  opacity: 0.9;
  background-color: var(--smile-purple);
  border-color: var(--smile-purple);
}

.text-light {
  color: #c271ff !important;
}

.bg-dark {
  background-color: #071629 !important;
}

.bg-light {
  background-color: #c271ff !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    display: inline-block;
    width: 29px;
    height: 62px;
    background: no-repeat 50%/100% 100%
}

.carousel-control-prev-icon.white {
    background-image: url("./images/arrow_white_left.png");
}

.carousel-control-next-icon.white {
    background-image: url("./images/arrow_white_right.png");

}

.carousel-control-prev-icon.black {
    background-image: url("./images/arrow_black_left.png");
}

.carousel-control-next-icon.black {
    background-image: url("./images/arrow_black_right.png");
}

